body {
    width: 70%;
    margin: auto;
}

a { 
    color: black;    
}

header {
    width: 100%;
    border-bottom: 10px dotted #ddd;
    height: 80px;
    margin-bottom: 50px;
}

header>div{
    display: inline-block;
}
header>div div {
  display: inline-block;
}

/* social media icon links */
header>div:last-child {
  float: right;
  margin-top: 20px;
}

header h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 250%;       
}

header h3{
    font-family: 'Strait', sans-serif;
    font-size: 80%;
    color: #777;
}

header li {
display: inline-block;
} 

main>div>div {
  display: inline-block;
}

/* Print section */
main>div>div:last-child {
  float: right;
  margin-top: 40px;
  /* margin-bottom: 0; */
}

/* Print Word and Icon */
main>div>div:last-child>* {
  display: inline-block;
}

main h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 250%;
}

main h3 {
  font-family: 'Strait', sans-serif;
  color: #aaa;
}

main>div {
  margin-bottom: 30px;
}

article img {
  width: 100%;
  margin-bottom: 30px;
}

article p {
  font-family: 'Noto Serif', serif;
  color: #666;
  margin-bottom: 30px;
  text-indent: 50px;
  line-height: 1.5em;
}