body {
    width: 70%;
    margin: auto;
}

a { 
    color: black;    
}

header {
    width: 100%;
    border-bottom: 10px dotted #ddd;
    height: 80px;
    margin-bottom: 50px;
}

header>div{
    display: inline-block;
}
header>div div {
  display: inline-block;
}

/* social media icon links */
header>div:last-child {
  float: right;
  margin-top: 20px;
}

header h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 250%;       
}

header h3{
    font-family: 'Strait', sans-serif;
    font-size: 80%;
    color: #777;
}

header li {
display: inline-block;
} 

main>div>div {
  display: inline-block;
}

/* Print section */
main>div>div:last-child {
  float: right;
  margin-top: 40px;
  /* margin-bottom: 0; */
}

/* Print Word and Icon */
main>div>div:last-child>* {
  display: inline-block;
}

main h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 250%;
}

main h3 {
  font-family: 'Strait', sans-serif;
  color: #aaa;
}

main>div {
  margin-bottom: 30px;
}

article img {
  width: 100%;
  margin-bottom: 30px;
}

article p {
  font-family: 'Noto Serif', serif;
  color: #666;
  margin-bottom: 30px;
  text-indent: 50px;
  line-height: 1.5em;
}

aside {
  position: relative;
  margin-bottom: 50px;
}

aside img { 
  width: 100%;
}

aside div {
  position: absolute;
  top: 30px;
  left: 100px;
}

aside ul {
  display: inline-block;
}

aside ul:first-child {
  margin-right:200px;
}

aside li {
  font-family: 'Patrick Hand', cursive;
  color: #444;
  font-size: 150%;
  line-height: 1.5em;
}

aside span {
  text-decoration: line-through;
}

main>section {
  border-top: 10px dotted #ddd;
  padding-top: 20px;
  margin-bottom: 80px;
}

main>section img {
  float: left;
  margin-right: 30px;
}

main>section>* {
  display: inline-block;
}

main>section h2 {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-size: 120%;
}

main>section p {
  font-family: 'Noto Serif', serif;
  color: #666;
  line-height: 1.5em;
  margin-right: 50px;
}

main>section button {
  float: right;
  width: 20%;
  height: 60px;
  background-color: rgb(212, 80, 80);
  color: #eee;
  margin-top: 20px;
  font-size: 130%;
}

footer{
  display: inline;  
  text-align: center;  
  font-family: 'Noto Serif', serif;
  padding-bottom: 30px;
}

footer img{
  position: relative;
  left: 47%;
  right: 47%;
  top: -26px;
  border-left: 10px solid white;
  border-right: 10px solid white;  
}

footer div {
  margin-top: 10px;
  margin-bottom: 50px;
}

footer p {
  font-size: 85%;
  color: #999;
  margin-bottom: 10px;
}
